{% autoescape None %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MTurk</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="vendor/md5.min.js"></script>
    <script src="vendor/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/sweetalert/sweetalert.css">
  </head>
  <body>
    <h1>Create Web Questions</h1>
    {% if done %}
    <p> This turker task is currently unavailable. Thanks for your participation! </p>
    {% else %}
    
    <script src="main.js"></script>
    <p>Your task is to complete the question template by filling out the blanks, and then answer them. </p>

    <p> Please visit the website here: {{ linkify(url, extra_params='target="_blank"') }}</p>
    <p> Question template: <b><i>{{ question }}</i></b> </p>
    <p> Please provide examples for the blanks enclosed in "()" above: {{blanks}}.</p>
    <p> Please fill in the answers you find on the website in the "ANSWER" column below. </p>
    <p> A few completed examples for your reference:
    <ul>
        {% for example in examples %}
            <li>{{ example }}</li>
        {% end %}
    </ul>
    <p>Please don't copy the above example! </p>
    
    <script>
    <!-- pass values from Tornado to JS -->
    passTornado("{{ escape(url) }}", 
	            "{{ escape(question) }}",
	            "{{ escape(code1) }}",
	            "{{ debug }}");
	// Generates the input table given the question template
	parseTemplate();
    </script>
    
    {% end %}
  </body>
</html>
